[submodule "TicTacToe"]
	path = TicTacToe
	url = https://github.com/b-tapia-morales/TicTacToe
[submodule "NavalBattle"]
	path = NavalBattle
	url = https://github.com/b-tapia-morales/NavalBattle
[submodule "MatrixBased"]
	path = MatrixBased
	url = https://github.com/b-tapia-morales/MatrixBased
[submodule "MiniPrograms"]
	path = MiniPrograms
	url = https://github.com/b-tapia-morales/MiniPrograms
